﻿@model IEnumerable<CRUDMVC.Models.DeptModel>

<p>
    @Html.ActionLink("Create New", "AddDepartment")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.DeptID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DeptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MGRName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MGREMPNO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    @Html.HiddenFor(modelItem => item.DeptID)
    @*<td>
            @Html.DisplayFor(modelItem => item.DeptID)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.DeptName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MGRName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MGREMPNO)
    </td>
    <td>
        @Html.ActionLink("Edit", "EditDeptDetails", new { id = item.DeptID }) |
        @Html.ActionLink("Delete", "DeleteDept", new { id = item.DeptID }, new { onclick = "return confirm('Are sure wants to delete?');" })
    </td>
</tr>
}

</table>
